extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae dolor mauris. In hac habitasse platea dictumst. Nunc vel urna laoreet, dapibus diam sed, pretium felis. Fusce aliquam pellentesque purus, non pulvinar tortor molestie ac. Vivamus sed odio massa.
                p Pellentesque justo leo, maximus sed faucibus aliquet, faucibus vitae tellus. Pellentesque pellentesque vestibulum quam at pulvinar. Suspendisse felis odio, egestas vel quam sodales, vestibulum mattis velit. Nulla vitae vestibulum neque. Donec fermentum in est at faucibus. Maecenas sed orci nec elit lacinia vestibulum sed ut nisl. Donec pretium ligula id nisl fringilla, ut accumsan arcu blandit. Nullam a enim sit amet nulla pellentesque viverra sed nec velit. Vivamus id vulputate lacus, eget fermentum nisi. Donec sodales est sagittis dui efficitur, ut dapibus odio tempor. Donec consectetur ultrices elit, accumsan faucibus odio rutrum sit amet.

                p magna mi, hendrerit ac porta ut, dictum a sem. Nullam fermentum vitae odio quis maximus. Donec nec pretium mauris. 
                

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nullam fermentum vitae odio quis maximus. Donec nec pretium mauris.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nullam fermentum vitae odio quis maximus. Donec nec pretium mauris.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nullam fermentum vitae odio quis maximus. Donec nec pretium mauris.

    

    